extends:
  - '@rixo'

env:
  node: true

overrides:
  - files: ["test/**"]
    env:
      mocha: true
    globals:
      browser: true
      baseUrl: true
      app: true
      expect: true
    rules:
      # chai assertions are often considred unused expressions
      no-unused-expressions: off
      require-atomic-updates: off
