extends:
  - '@rixo'

env:
  node: true

overrides:
  - files: ["test/**", "test-utils/**"]
    env:
      mocha: true
    globals:
      browser: true
      app: true
      expect: true
      sinon: true
      describeE2e: true
      testHmr: true
    rules:
      # chai assertions are often considred unused expressions
      no-unused-expressions: off
      require-atomic-updates: off
